.del {
  background: #ff0000;
  color: azure;
  border: none;
  padding: 5px 9px;
  border-radius: 50%;
  cursor: pointer;
  float: right;
}

.todo {
  background: azure;
  padding: 10px;
  border-bottom: #ccc dotted;
}

.is-complete {
  text-decoration: line-through;
}
